.sitecreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 25%;
    &__header {
        text-align: center;
        font-size: 34px;
        text-transform: uppercase;
    }
    &__article {
        margin-bottom: 30px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    &--header {
        position: absolute;
        top: 25%;
        left: 5%;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        line-height: 23px;
        padding-right: 150px;
    }
    &--button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 40px;
        padding-right: 40px;
        text-transform: uppercase;
        border: 1px solid black;
        background: white;
        cursor: pointer;
        letter-spacing: 5px; 
    }
    &--button:hover {
        background-color: hsl(0, 0%, 0%);
        color: white;
    }
}

}
