.siteheader__masthead {
    margin-bottom: 30%;
&--header {
    position: absolute;
    top: 31%;
    left: 0;
    border: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    margin-right: 22px;
    margin-left: 13px;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 8%;
    padding-bottom: 5%;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 38px;
}
}