body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0; }

span {
  visibility: hidden; }

ul > li {
  list-style: none; }

ul a {
  list-style: none;
  text-decoration: none; }

a {
  text-decoration: none;
  cursor: pointer; }

svg {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

.link_menu {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 30%;
  left: 85%; }

body > nav > ul a {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  display: block; }

#menu_checkbox {
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 90%;
  top: 7%; }

body > nav {
  background-color: black;
  position: absolute;
  z-index: 3;
  top: -99px;
  left: 0;
  bottom: 20px;
  width: 94%;
  height: 93%;
  transform: translateX(-110%);
  margin-top: 30%;
  margin-left: 10px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 10px; }

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0; }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > nav > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url("../images/icon-hamburger.svg");
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center; }

body > nav > ul a {
  color: white;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
  font-size: 0.75rem;
  line-height: 2rem;
  display: block;
  font-size: 24px; }

body > nav .link {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

@media (min-width: 1000px) {
  body > nav {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  .nav__link {
    padding-right: 135px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -305%;
    left: -315px; }
  body > nav > ul .link {
    padding: 1.25rem;
    background-image: none;
    line-height: 1.25rem; }
  .link_menu {
    display: none; }
  body > nav > ul a {
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 14px; } }

.logo {
  cursor: pointer;
  position: absolute;
  left: 6%;
  top: 6%; }

.siteheader__masthead {
  margin-bottom: 30%; }
  .siteheader__masthead--header {
    position: absolute;
    top: 31%;
    left: 0;
    border: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    margin-right: 22px;
    margin-left: 13px;
    padding-left: 8%;
    padding-right: 5%;
    padding-top: 8%;
    padding-bottom: 5%;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 38px; }

.main__mainpage--interactive-image {
  margin-left: 20px;
  margin-right: 20px; }

.main__mainpage--interactive-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px; }

.sitecreation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 25%; }
  .sitecreation__header {
    text-align: center;
    font-size: 34px;
    text-transform: uppercase; }
  .sitecreation__article {
    margin-bottom: 30px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px; }
    .sitecreation__article--header {
      position: absolute;
      top: 25%;
      left: 5%;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
      line-height: 23px;
      padding-right: 150px; }
    .sitecreation__article--button {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 40px;
      padding-right: 40px;
      text-transform: uppercase;
      border: 1px solid black;
      background: white;
      cursor: pointer;
      letter-spacing: 5px; }
    .sitecreation__article--button:hover {
      background-color: black;
      color: white; }
